/* Google Font CDN Embedded Link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Global Styles */
.font-manrope{
    font-family: "Manrope", sans-serif;
}

.primary-color{
    color: #212121;
}
.secondary-color{
    color: #1c1c1c;
}